
<div class="jumbotron mt-4">
    <h1 class="display-4"> Notes App Nodejs and MongoDB</h1>
    <p class="lead">PROBANDO QUE ESCRIBE esto</p>
    <hr class="my-4">
    <p>escribo cualquier texto, ya que solo configuro mi servidor y quiero ver como se ve</p>
    <a href="https://oshop-412b3.firebaseapp.com/" class="btn btn-primary">BimmoTrade</a>
</div>
